#root {
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
}

.nav {
  min-height: 40px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative !important;
  display: flex !important;
  flex-direction: row !important;
}

.nav > .logo {
  margin-right: auto;
  margin-left: 10px;
}

.nav > .nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.slide-up {
  animation: slideUp 1s forwards;
  position: relative;
}

@keyframes slideUp {
  from {
    transform: translate(0, 500px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.slide-left {
  animation: slideLeft 1s forwards;
  position: relative;
}

@keyframes slideLeft {
  from {
    transform: translate(500px, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.slide-right {
  animation: slideRight 1s forwards;
  position: relative;
}

@keyframes slideRight {
  0% {
    transform: translate(-500px, 0);
    opacity: 0%;
  }
  100% {
    transform: translate(0, 0);
    opacity: 100%;
  }
}
